footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
  background-color: #fdffff;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons__img {
  width: 25px;
}

.footer-icons {
  font-size: 9px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 13px 0 13px;
  cursor: pointer;
}

.footer-icons__text {
  margin: 4px 0 0 0;
}
